<!DOCTYPE html>
<html>
<head>
    <title>Area Calculator - Shapes</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="head">Welcome to the Area Calculator</h1>
    <h3 class="head1">Click On Any Shape To Find Its Area</h3>
    <div class="shape">
        <ul class="shape-list">
            <li><a width="200" height="200" href="/square"><img width="200" height="200" src="/images/square.jpg" alt="Square"></a></li>
            <li><a href="/circle"><img src="/images/circle.jpg" alt="Circle"></a></li>
            <li><a href="/rectangle"><img src="/images/rectangle.jpg" alt="Rectangle"></a></li>
            <li><a href="/triangle"><img src="/images/triangle.jpg" alt="Triangle"></a></li>
        </ul>
    </div>
</body>
</html>
